[prestador]
cnpj = "SEU_CNPJ_AQUI"
razao_social = "SUA_RAZAO_SOCIAL_AQUI"

[certificado]
caminho = "certificado/SEU_CERTIFICADO.pfx"
senha = "SUA_SENHA_AQUI"

[geral]
ambiente = "Homologacao"
codigo_municipio = 1001058

[data]
sqlite_caminho = "data/nfse.sqlite"
